@using TaskManager.Models
@model Employee

<!-- Форма редактирования сотрудника -->
<div class="card mb-4">
    <div class="card-header">
        <h5 class="mb-0">Редактирование сотрудника</h5>
    </div>
    <div class="card-body">
        <form method="post" asp-controller="Employees" asp-action="Edit" class="row g-3">
            <input type="hidden" class="form-control" value="@Model.Id" id="Id" name="Id">
            <div class="col-md-3">
                <label for="LastName" class="form-label">Фамилия и инициалы *</label>
                <input type="text" class="form-control" value="@Model.FullName" id="FullName" name="FullName" required>
            </div>
            <div class="col-md-3">
                <label for="CabinetNumber" class="form-label">Подразделение</label>
                <input type="text" class="form-control" value="@Model.Department" id="Department" name="Department">
            </div>
            <div class="d-flex gap-2">
                <button type="submit"
                        class="btn btn-success">
                    <i class="bi bi-trash"></i> Редактировать
                </button>
                <a asp-controller="Employees"
                   asp-action="Index"
                   class="btn btn-secondary">
                    <i class="bi bi-arrow-left"></i> Назад к списку
                </a>
            </div>
        </form>
    </div>
</div>